<div class="container div-content-article div-page-content-article article-id-{{ contentid }} {{ class }}">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ contenttitle|raw }}</h1>
            <div class='content-article'>
                {% if image is defined %}<div class="pull-right content-image">{{ image|raw }}</div>{% endif %}
                {{ content|raw }}
            </div>
        </div>
    </div>
</div>